<nav>
  <ul class="nav">
    <li  class="nav-item"><a class="nav-link" routerLink="/drugs" routerLinkActive="active">Drugs</a></li>
    <li  class="nav-item"><a class="nav-link" routerLink="/drugs-detail" routerLinkActive="active">Second Component</a></li>
    <li  class="nav-item"><a class="nav-link" routerLink="/drugs-add" routerLinkActive="active">drugs add</a></li>
    <li  class="nav-item"><a class="nav-link" routerLink="/billing" routerLinkActive="active">billing</a></li>
  </ul> 
</nav>
<router-outlet></router-outlet>